/* css stylesheet for final project */
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
  font-family: "Faustina", "Courier New", serif;
  font-size: 16px;
  color: rgb(141, 0, 219);
  line-height: 1.8;

  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  grid-template-areas:
    "header header"
    "nav    nav"
    "main   main"
    "footer footer"
}

h1 {
  margin: 0;
  font-family: "Orbitron", "Arial", sans-serif;
  font-size: 40px;
  color: rgb(84,18,83);
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-family: "Orbitron", "Arial", sans-serif;
  border-bottom: 1px solid #ADD8E6;
}

h2,
h3 {
  margin-top: 0;
  padding: 16px;
  font-weight: 700px;
}

p {
  padding-left: 16px;
  padding-right: 16px;
}

a,
a:link {
  color: rgb(3,50,79);
}

a:visited {
  color: rgb(0,26,143);
}

a:hover {
  background-color: rgb(154,197,239);
}

a:active {
  color: rgb(134,29,132);
}

header,
footer {
  color: rgb(84,18,83);
  background-color: rgb(81,156,225);
}

header {
  grid-area: header;
  padding: 16px;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
  color: rgb(255,255,255);
  background-color: rgb(205,107,255);
  padding: 8px;
  max-width: 960px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  min-height: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 8px;
}

img {
  max-width: 960px;
  border: 2px solid rgb(81,156,225);
}

.homepage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "photo intro"
}

.homepage img {
  max-width: 448px;
}

.pressphotos {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas:
  "p-one p-two"
  "p-thr p-four"
}

.pressphotos img {
  max-width: 448px;
}

.pressphotos figure {
  margin: 0;
  padding-left: 16px;
}

.coverart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "cover covertwo"
}

.coverart figure {
  margin: 0;
  padding-left: 16px;
}

figure {
  margin-left: 16px;
}

audio {
  width: 680px;
  margin-left: 16px;
  padding-top: 16px;
  padding-bottom: 4px;
}

figcaption {
  padding-top: 6px;
  padding-bottom: 32px;
}

footer {
  grid-area: footer;
  padding: 16px;
}
